@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Arial.woff2") format("woff2");
    font-display: swap;
  }

/* Сброс стилей по умолчанию */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Основные стили для body */
/* .body {
    font-family: "Arial", sans-serif;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    overflow: hidden;
    display: block;
    width: 1200px;
    margin: 0 auto;
} */

/* Контейнер для фонового видео */
/* .video-background {
    position: fixed;
    top: 40px;
    /* left: 50%; */
    /* width: 1200px; */
    /* height: 100%; */
    /* z-index: -1;
}  */

/* Стили для видео
#myVideo {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
} */



/* Основной контент */
/* .main {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 40px;
}


/* Стили для текста в SVG */
/* text {
    font-size: 50px;
    font-weight: 700;
    fill: white;
}

.svg-medium {
    display: none;
}

@media (max-width: 1920px) and (min-width: 1201px) {
    body {
        font-size: 16px;
    }

} */

/* @media (max-width: 1200px) {
    .body {
        width: 320px;
    }
    
    .svg-big {
        display: none;
    }

    .svg-medium {
        display: block;
    }

    .video-background {
        /* left: 17%; */
        /* width: 320px;
        #myVideo {
            min-width: 320px;
        }
    }
}  */

/* @media (max-width: 768px) {
    body {
        font-size: 12px;
    }
} */

body {
    background: black;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: 700;
  }
  
  video {
    width: 100%;
    position: relative;
  }
  
  .text-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;

    &:last-of-type {
        height: 100vw;
        background-color: black;
    }
  }
  
  .text {
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 8vw;
    flex-grow: 0;
  }
  
  .hollow {
    border-width: 10px;
    border-color: black;
    border-style: solid;
    flex-grow: 1;
  }

  .text-mini {
    display: none;
  }

  .hollow-mini {
    display: none;
  }

  @media (max-width: 768px) {

    .row {
        &:nth-of-type(4n) {
            .text-mini {
                width: 100%;
                text-align: justify;
            }
        }
    }
    .text-big {
        display: none;
    }

    .text-mini {
        display: block;
      }

    .hollow-big {
        display: none;
    }

    .hollow-mini {
        display: block;
      }

  }
